<div>
    <p>
        <h4><strong><%= (User.find(comment.user_id)).name %></strong></h4>
        <h6><%= comment.created_at %></h6>
    </p>
    <p>
        <h6><%= comment.comment %></h6>
    </p>
    <div>
    <% if (Like.where(user_id: current_user.id,likeable_type: "Comment",likeable_id: comment.id).exists?) %>
        <%= button_to "", comment_like_path(comment), method: :delete,class: "btn btn-primary fa fa-heart" %>
    <% else %>
        <%= button_to "", comment_likes_path(comment), method: :post,class: "btn btn-primary fa fa-heart-o" %>
    <% end %>
  <p><%= comment.likes.count %> <%= (comment.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
</div>