<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application',media:'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
        
  </head>

  <style>
    .insta-post {
      margin-bottom: 15px;
      border: 1px solid #ddd;
    }
    .post-like {
    background: #fff;
    text-align: left;
    padding: 15px;
  }
    body {
      background: #fafafa;
    }
  </style>

  <body class="bg-light">
    <div class="container-fluid", style="margin-top:80px">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
          <% @posts.sort_by(&:created_at).reverse.each do |post| %>
            <div class="insta-post">
              <%= render post %><br>
              <div class="post-like">
                <% if (Like.where(user_id: current_user.id,likeable_type: "Post",likeable_id: post.id).exists?) %>
                  <%= button_to "", post_likes_path(post), method: :delete,class: "btn btn-primary fa fa-heart" %>
                <% else %>
                  <%= button_to "", post_likes_path(post), method: :post,class: "btn btn-primary fa fa-heart-o" %>
                <% end %>
                
                <p><strong><%= post.likes.count %> <%= (post.likes.count) <= 1 ? 'Like' : 'Likes'%></strong></p>
                <p><%= time_ago_in_words(post.created_at) %> ago</p>
                <p><strong><%= User.find(post.user_id).name %></strong>  
                <%= post.caption %></p>
                <%= form_with model: [ post, post.comments.build ] do |form| %>
                  <%= form.text_field :comment, placeholder: "Add a comment" %>
                  <%= form.submit 'Add', class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-3">
            <div class="insta-post post-like">
              <div class="row">
                <div class="col-2">
                  <% if current_user.avatar.attached? %>
                    <%= link_to image_tag(current_user.avatar,height:40,width:40,class: "rounded-circle"),user_path(current_user) %> 
                  <% else %>
                  
                  <% end %>
                </div>
                <div class="col-10">
                  <% @user = current_user %>
                  <strong><%= link_to current_user.email,user_path(@user) %><br></strong>
                  <%= current_user.name %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>